*{
	margin:0px;
	padding: 0px;

}
body{
	background-size: cover;
	background-attachment: fixed;
	font-family: new time Georgia, 'Times New Roman', Times, serif;
}
h1{
	font-size: 40px;
	color: white;
	margin: 250px;
}
p{
	font-size: 17px;
	color: #fff;
}
h3{
	font-size: 25px;
	color: #fff;
}
.glyphicon-pencil{
	font-size: 35px;
	color: white;
	float: right;
	margin-top: 20px;
}
.col-md-5{
	margin-top: 80px;
	box-shadow: -3px 1px 60px 10px black;
	background: rgba(0,0,0,0,4);
}
.label{
	font-weight: normal;
	margin-top: 15px;
	color: #fff;
	font-size: 19px;

}
.form-control{
	background: transparent;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid white;

}