* {
    margin: 0;
    padding: 0.5ex;
    font-family: Arial, Helvetica, sans-serif;

}
a {
    text-decoration: whitesmoke;
    text-decoration-color: floralwhite;
}

nav {
    display: flex;
    width: 84%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 20px 0px;
}
  
nav ul li {
    display: inline-block;
    list-style: none;
    margin:10px 20px;
    align-items: center;
    

}

nav ul li a{
    text-decoration: none;
    color: rgb(223, 229, 233);
    font-weight: bold;
    align-items: center;

}
li a {
    display: block;
    padding: 8px;
    background-color: #a9dad7;
    align-items: flex-end;
  }


nav ul li a:hover {
    color:rgb(82, 108, 121);


}

li {
    float: left;
    list-style: none; /* Remove HTML bullets */
  }
  

  
h1 {
    text-align: center;
    text-decoration-style: solid;
    text-decoration: cornsilk;
    text-decoration-color: rgb(152, 156, 156);
    color: ghostwhite;

}

p.date {
    text-align: right;
}

p.main {
    text-align: justify;
}
#play a{
    background:hsl(0, 0%, 13%);
    padding:15px 20px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(165, 128, 128);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    text-align:start;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    text-align: end;
  }


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
  
footer  {
    text-align: center;
    background-color:rgb(116, 116, 133);
   


}
