*{
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: whitesmoke;
}

footer {
    text-align: center;
}

i {
    padding:0.5em;
}
main {
    background-color:rgb(150, 224, 212);
    color: aliceblue;
}

.navbar  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1em;
    align-items:center;
    min-height: 50px;
    display: center;
    align-items: end;
}
.nav-link:hover{
    color:darkred;
}


li {
    float: left;
    list-style: none; /* Remove HTML bullets */
    align-items: end;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #a9dad7;
    align-items: center;
  }

  h2 {
    text-align: none;
    text-decoration-style: solid;
    text-decoration: cornsilk;
    text-decoration-color: rgb(152, 156, 156);
    color: ghostwhite;

}

footer {
    text-align: center;
    background-color:rgb(124, 230, 230);

}
div.form
{
    display: block;
    text-align: center;
    color: ghostwhite;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: end;
    color: ghostwhite;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    text-align: end;
  }


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}